*{
  margin: 0;
  padding: 0;

}
.screen{
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make sure the container takes up the full viewport height */
  background-color: rgb(83, 4, 84);
  display: flex;
  justify-content: center; /* Horizontally center the child */
  align-items: center;
}
.calculator{
   width: 50%;
   height: 600px;
   background-color: rgb(154, 81, 222);
}
.display{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin: 10px;
  height: 100px;
}
.text{
  
}
.buttonss{
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4,25%);
  margin-top: 60px;
}
.buttonss img{
  width: 40px;
  background-color: antiquewhite;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
}
.doublezero{
  width: 63px;
  width: 63px;
  height: 61px;
  border-radius: 20px;
}
